# Startup
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

# Files
import %workspace%/tools/file/files.bazelrc
import %workspace%/tools/test/tests.bazelrc

# Cache
build --disk_cache=~/.cache/bazel-disk
clean --disk_cache ~/.cache/bazel-disk
fetch --disk_cache ~/.cache/bazel-disk
info --disk_cache ~/.cache/bazel-disk
query --disk_cache ~/.cache/bazel-disk
sync --disk_cache ~/.cache/bazel-disk

# Build
build -k
build --experimental_output_paths strip
build --trim_test_configuration
build --incompatible_disable_autoloads_in_main_repo
build --incompatible_no_implicit_file_export
build --incompatible_resolve_select_keys_eagerly
build --incompatible_use_cc_configure_from_rules_cc

# Rules
build --incompatible_disable_starlark_host_transitions
build --incompatible_disable_target_provider_fields
build --incompatible_stop_exporting_build_file_path

# Test
build --test_output=streamed
build --test_env=HOME
build --test_env=PATH
build:ci --test_output=errors

# Runfiles
build --incompatible_compact_repo_mapping_manifest

# User settings
try-import %workspace%/.bazelrc.user
