import %workspace%/tools/bazel_/preset.bazelrc

# General

## Rules
# C++
build --noincompatible_auto_exec_groups
common --noincompatible_disable_target_default_provider_fields
common --noincompatible_no_rule_outputs_param

## Test
import %workspace%/tools/test/tests.bazelrc
build --test_output=streamed
build --test_env=HOME
build --test_env=PATH
build:ci --test_output=errors

# Rule Sets

## Files
import %workspace%/tools/file/files.bazelrc

# User settings
try-import %workspace%/.bazelrc.user
